.gap {
  gap: 15px
}

.gap-sm{
  gap: 5px;
}

main {
  background: rgb(255, 192, 155);
  background: radial-gradient(circle, rgba(255, 192, 155, 1) 0%, rgba(255, 158, 102, 1) 50%, rgba(255, 192, 155, 1) 100%);
  min-width: 100%;
  min-height: 100svh;
}

main>div {
  background-color: #ffffff91;
  backdrop-filter: blur(50px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  min-height: 85svh;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.118), 0 0 15px rgba(0, 0, 0, 0.118);
}

.form-control:focus {
  box-shadow: none;
}

.row>* {
  padding: 0;
}

.btn {
  background-color: #ffffff;
  border: 1px solid rgb(253, 164, 112);
}

.btn:hover {
  background-color: rgb(255, 192, 155);
  border: 1px solid #ffffff;
}

.box-border {
  background-color: #ffffff80;
  border: 1px solid #ffffff;
  padding: 5px;
  border-radius: 10px;
}

.form-floating {
  border: 1px solid rgb(253, 164, 112);
  border-radius: 5px;
}

.line {
  height: 2px;
  width: 100%;
  background-color: #ffffff;
}

.view-card {
  background-color: #ffffff80;
  border-radius: 15px;
}

.install-card {
  background-color: #ffffff;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.install-card>div:nth-child(2n+1) {
  background-color: #b9b9b980;
}

.install-card>div:last-child {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.gray {
  color: #7a7a7a;
  font-size: 1rem;
}

@media (min-width: 1200px) {
  form.container {
    width: 80%;
  }

  .view-card {
    width: 80%;
    margin: auto;
  }
}